[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/b4hofer/kickstart.nvim
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
