.cfg

.config/hypr/monitors.conf
.config/hypr/machine-specific.conf

Nextcloud/
Downloads/
Pictures/
Documents/
.ssh/
.pki/
.oh-my-zsh/
.mozilla/
.cache/
.m2/
.logseq/
.local/
.gitlibs/
.config/GIMP/
.config/Logseq/
.config/spotify/
.config/keepassxc/
.histfile
.zsh_history
go/
.rustup/
.cargo/
source/
